
html,body{
    height:100%;
}

body{
    padding-top:50px;
}

#left {
    height:100%;
}

#map-canvas {
    width:50%;
    height:calc(100% - 0);
    position:absolute;
    right:16px;
    top:50px;
    bottom:0;
    overflow:hidden;
}

#main-slider {
    min-height: 100%;
}

#create-activity-button {
    width: 100%;
}

#access-type-switch, #add-pins-switch, #clear-pins-button, #generate-track-button, #clear-track-button {
    min-height: 30px;
    min-width: 140px;
}